* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.diagonal {
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #3eaad4;
  transform: skewY(-10deg) scaleY(12);
  position: absolute;
  top: 0%;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: 42px;
  position: relative;
  z-index: 1;
}
.hero .image {
  position: relative;
  max-width: 450px;
}
.image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}
.image h1 {
  position: absolute;
  bottom: 0px;
  left: 10px;
  color: #fff;
}
.tablet-image {
  display: none;
}
.about {
  max-width: 550px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about p {
  margin: 10px 0;
}
.socails {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 30px;
}
.socails svg,
.demo svg,
.connect svg {
  cursor: pointer;
}
svg {
  width: 15px;
}
main {
  padding: 10px;
}
.work-container {
  max-width: 1000px;
  margin: 60px auto;
  padding: 30px;
}
.work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.project {
  height: 150px;
  background-color: palegoldenrod;
}
.work {
  margin-top: 10px;
}
.work > div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.desc {
  padding: 10px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.demo {
  display: flex;
  gap: 10px;
}
main {
  background-color: #fff;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  background-color: #3eaad4;
  padding: 30px;
  width: 100%;
  overflow: hidden;
}
.contact-details {
  max-width: 400px;
  display: grid;
  gap: 16px;
  color: #fff;
}
.call {
  display: flex;
  gap: 10px;
}
.mail svg,
.call svg {
  fill: #fff;
}
.mail {
  display: flex;
  gap: 10px;
}
.contact-image {
  max-width: 600px;
}
.contact-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.connect {
  display: flex;
  gap: 10px;
}
@media only screen and (max-width: 1024px) {
  .work {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero .image {
    display: none;
  }
  .tablet-image {
    display: block;
    width: 300px;
    float: left;
    margin-right: 10px;
    position: relative;
    border: 1px;
  }
  .tablet-image img {
    height: 200px;
  }
  .socails {
    display: none;
  }
  .tablet-image img {
    width: 100%;
  }
}
@media only screen and (max-width: 428px) {
  .hero {
    flex-direction: column;
  }
  .hero .image {
    display: block;
    position: relative;
  }

  .about {
    box-shadow: unset;
  }
  .tablet-image {
    display: none;
  }
  .socails {
    justify-content: center;
    display: block;
  }
  .work-container {
    margin-top: unset;
  }
  .work-container h2 {
    text-align: center;
  }
  .work {
    grid-template-columns: 1fr;
  }
  .contact {
    flex-direction: column;
    gap: 30px;
  }
  .contact-image {
    max-width: unset;
  }
}
